.convert{
  text-align: center;
}
.equals {
  font-size: 2em;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}

.header{
  text-align: center;
}
.tableheader {
  font: 2em;
  text-align: center;
  text-decoration: underline 2px black;
}

